<form action="http://localhost:4567/players" method="post">
  <input type="text" name="name" id=""><br>
  <input type="text" name="email" id=""><br>
  <input type="text" name="password" id=""><br>
  <input type="submit" value="registrarse">
</form>